/*****************************************************************************\
* Module Name: kbfrAFs.RC
*
* Locale-dependent version-information resource.
*
* Copyright (c) 1985-2001, Microsoft Corporation
* Copyright (c) 2014-2025, Marcel Schneider dev[arobase]dispoclavier.com
*
* History:
* Outsource common strings and integers    6.0.9.5.0 Tue 2025-09-30T1255+0200
* Debug version ## in VERSIONINFO *.RC     6.0.9.2.0 Tue 2025-09-30T0753+0200
*
* This file is encoded in UTF-16 LE as KbdUTool generates resource files.
* It cannot be encoded in UTF-8 because without byte order mark, the Windows
* File Explorer displays mojibake, and with BOM, it cannot be compiled,
* because the Microsoft (R) Windows (R) Resource Compiler Version 6.0.5724.0
* cannot read it.
*
* https://learn.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
*
\*****************************************************************************/

#include "winver.h"
1 VERSIONINFO

 #include "kbversion-int.rc"

 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
FILEOS 0x40004L
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_DRV_KEYBOARD
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
       BLOCK "000004B0"
       BEGIN
           VALUE "FileDescription",    "Afrique francophone AZERTY semi-automatique Keyboard Layout\0"
           VALUE "InternalName",       "kbfrAFs\0"
           VALUE "OriginalFilename",   "kbfrAFs\0"

           #include "kbversion-str.rc"

       END
   END
   BLOCK "VarFileInfo"
   BEGIN
       VALUE "Translation", 0x0000, 0x04B0
   END
END

STRINGTABLE DISCARDABLE
LANGUAGE 9, 1
BEGIN
    1200    "fr-FR"
END

STRINGTABLE DISCARDABLE
LANGUAGE 9, 1
BEGIN
    1000    "Afrique francophone AZERTY semi-automatique"
END

STRINGTABLE DISCARDABLE
LANGUAGE 9, 1
BEGIN
    1100    "Français (France)"
END

